<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>crud</ion-title>
    </ion-toolbar>
    <app-navegador></app-navegador>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">crud</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-button fill="clear" aria-label="New Car" (click)="onNewCoche()" id="añadir">
        <ion-icon slot="icon-only"  color="primary"  name="add-outline" aria-hidden="true"></ion-icon>
      </ion-button>
    <div id="coches">
        <app-coche *ngFor = "let coche of coches.coches$ | async" [coche]="coche" 
        (onCardClicked)="onCardClicked(coche)"
        (onDeleteClicked)="onDeleteClicked(coche)"></app-coche>
    </div>
</ion-content>